

CSThreadsPrinter/.vs/CSThreadsPrinter/DesignTimeBuild/.dtbcache.v2

CSThreadsPrinter/.vs/CSThreadsPrinter/v16/.suo

CSThreadsPrinter/CSThreadsPrinter.sln

CSThreadsPrinter/CSThreadsPrinter/bin/Debug/netcoreapp3.1/CSThreadsPrinter.deps.json

CSThreadsPrinter/CSThreadsPrinter/bin/Debug/netcoreapp3.1/CSThreadsPrinter.dll

CSThreadsPrinter/CSThreadsPrinter/bin/Debug/netcoreapp3.1/CSThreadsPrinter.exe

CSThreadsPrinter/CSThreadsPrinter/bin/Debug/netcoreapp3.1/CSThreadsPrinter.pdb

CSThreadsPrinter/CSThreadsPrinter/bin/Debug/netcoreapp3.1/CSThreadsPrinter.runtimeconfig.dev.json

CSThreadsPrinter/CSThreadsPrinter/bin/Debug/netcoreapp3.1/CSThreadsPrinter.runtimeconfig.json

CSThreadsPrinter/CSThreadsPrinter/obj/CSThreadsPrinter.csproj.nuget.dgspec.json

CSThreadsPrinter/CSThreadsPrinter/obj/CSThreadsPrinter.csproj.nuget.g.props

CSThreadsPrinter/CSThreadsPrinter/obj/CSThreadsPrinter.csproj.nuget.g.targets

CSThreadsPrinter/CSThreadsPrinter/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs

CSThreadsPrinter/CSThreadsPrinter/obj/Debug/netcoreapp3.1/apphost.exe

CSThreadsPrinter/CSThreadsPrinter/obj/Debug/netcoreapp3.1/CSThreadsPrinter.AssemblyInfo.cs

CSThreadsPrinter/CSThreadsPrinter/obj/Debug/netcoreapp3.1/CSThreadsPrinter.AssemblyInfoInputs.cache

CSThreadsPrinter/CSThreadsPrinter/obj/Debug/netcoreapp3.1/CSThreadsPrinter.assets.cache

CSThreadsPrinter/CSThreadsPrinter/obj/Debug/netcoreapp3.1/CSThreadsPrinter.csproj.CoreCompileInputs.cache

CSThreadsPrinter/CSThreadsPrinter/obj/Debug/netcoreapp3.1/CSThreadsPrinter.csproj.FileListAbsolute.txt

CSThreadsPrinter/CSThreadsPrinter/obj/Debug/netcoreapp3.1/CSThreadsPrinter.csprojAssemblyReference.cache

CSThreadsPrinter/CSThreadsPrinter/obj/Debug/netcoreapp3.1/CSThreadsPrinter.dll

CSThreadsPrinter/CSThreadsPrinter/obj/Debug/netcoreapp3.1/CSThreadsPrinter.genruntimeconfig.cache

CSThreadsPrinter/CSThreadsPrinter/obj/Debug/netcoreapp3.1/CSThreadsPrinter.pdb

CSThreadsPrinter/CSThreadsPrinter/obj/project.assets.json

CSThreadsPrinter/CSThreadsPrinter/obj/project.nuget.cache
